* {font-family: Arial, Helvetica, sans-serif;}
body {
  color: #444;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar_right {
  float: right;
  width: 400px
  padding: 50px 0px;
  margin: 50px 50px;
  margin-top: 5px;
}

h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 1.5;
  display: block;
}
.more-info {
  color: #1098ad;
  font-size: 12px;
  cursor: pointer;
}
.aside-cat {
  width: 250px;
  height: 200px;
}
/*.container {
  width: 700px;
  bottom: 50px;}*/
/*.cat-logo {
  position: absolute;
  width: 300px;
  height: 100px;
  background-color: #444;
  font-family: Arial, Helvetica, sans-serif;
  color: #f7f7f7;
}*/

.container {
  background-color: #444;
  color: #f7f7f7;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 20px;
}
nav {font-family: Arial, Helvetica, sans-serif;
font-size: 10px;}
.div.text {font-family: Arial, Helvetica, sans-serif; font-size: 10px;}
.copyright {font-family: Arial, Helvetica, sans-serif; font-size: 10px; padding-top: 5px; color:rgb(190, 170, 229)}